<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

 <specFlow>
    <generator allowDebugGeneratedFiles="false" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <appSettings>
    <!--  basic browser process settings -->
    <add key="Browser" value="Chrome" />
    <add key="DriverPath" value=".\Resources" />
    <!-- Use backslash "\" to ensure the driver is found in path -->
    <add key="DriverPort" value="53996" />

    <!--  application specific settings -->
    <add key="PortalURL" value="https://test.jobiak.ai:8087/login" />  
    <!--<add key ="PortalURL" value="https://www.jobiak.ai/try-it-now/" /> -->
    <!--<add key="Account" value="Account" />
    <add key="Email" value="user@demo.com" />
    <add key="Password" value="demo" />

    <add key="Account" value="Account" />
    <add key="Dev-user" value="dev@demo.com" />
    <add key="Dev-password" value="demo" />

    <add key="Account" value="Account" />
    <add key="Admin-user" value="admin@demo.com" />
    <add key="Admin-password" value="demo" />

    <add key="Account" value="Account" />
    <add key="CTO-user" value="cto@demo.com" />
    <add key="CTO-password" value="demo" />-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
